/* ANIMATIONS */
#my-name {
  animation: fadeInLeft;
  animation-duration: 3s;
}

#my-sub {
  animation: fadeInRight;
  animation-duration: 3s;
}

#pic-section {
    animation: fadeIn;
    animation-duration: 5s;
}

.hide {
    display: none;
    transition: .8s ease;
}

.display-none {
  display: none;
}

.slide-left {
  animation: slideInLeft;
  animation-duration: 3s;
}

.slide-right {
  animation: slideInRight;
  animation-duration: 3s;
}

.slide-up {
  animation: slideInUp;
  animation-duration: 3s;
}
