body, html{
    font-weight: 300;
    font-family: 'Roboto', sans-serif !important;
}

.uk-navbar {
    background: none !important;
}

#pic-section {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 725px;
}

#logo-img {
    height: 60px;
    width: 60px;
}

.uk-height-large {
    height: 620px;
}

h1, h3, h4, h5 {
    /* font-weight: 300 !important; */
    font-family: 'Montserrat', sans-serif !important;
}

h2 {
    font-family: 'Roboto', sans-serif !important;
    /* text-transform: uppercase; */
}

.full-height {
    height: 100%;
}

#title-container {
    padding-top: 175px;
}

.subtitle {
    margin: 0px;
    color: rgb(168, 167, 167);
    /* color: white; */
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase;
    font-size: 18px
}

.contact-li {
    font-size: .8em;
    padding-left: 10px;
    font-weight: 100;
    color: rgb(202, 200, 200) !important;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif !important;
}

.contact-icon {
    color: rgb(228, 228, 228) !important;
}

.footer {
    background-color: #f8f8f8;
    /* margin-top: 100px; */
    padding-top: 20px;
    padding-bottom: 10px;
}

.portfolio-container, .skills-container {
    max-width: 1000px;
    margin-top: 0px !important;
}

.skills-container {
    padding-bottom: 100px;
}

.skills-pic-section {
    background-image: url("../images/green-leaves-flip.jpeg");  
    background-position: center;
    background-size: cover;
}

/* CARDS */
.pic-container {
    position: relative;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .8s ease;
    border-radius: 8px !important;
}

.overlay-card {
    height: 100%;
    width: 100%;
}

.project-description {
    color: rgb(95, 94, 94);
}

polyline {
    fill: none;
    color: rgb(170, 170, 170);
}

.portfolio-card-footer {
    border-top: none !important;
    padding-bottom: 40px;
}

.portfolio-card-body {
    padding-bottom: 0px;
}

.project-title {
    padding-top: 15px;
}

.portfolio-btn {
    border-radius: 20px;
    border: 1px solid rgb(156, 231, 156);
    color: rgb(156, 231, 156);
    border: 1px solid #fda387;
    color: #fda387;
}

.portfolio-btn:hover {
    background-color: #fda387;
    color: white;
    border: none;
}

.portfolio-title, .skills-title {
    margin-top: 100px;
    margin-bottom: 100px;
}

.skills-icon {
    /* font-size: 34px; */
    /* color: rgb(156, 231, 156) !important; */
}

