body, html{
    font-weight: 300;
    font-family: 'Roboto', sans-serif !important;
    color: gray;
    font-size: .85rem;
}

.uk-navbar {
    background: none !important;
}

.nav-item:hover, .menu-icon:hover {
    color: #fda387 !important;
}

.menu-icon {
    color: gray;
    padding: 20px;
}

#pic-section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1200px;
}

.skills-pic-section {
    background-image: url("../images/green-leaves.jpg");  
    background-position: center;
    background-size: cover;
}

h1, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif !important;
    color: #2c3e50 !important;
}

h2 {
    font-family: 'Roboto', sans-serif !important;
    color: #2c3e50;
}

#title-container {
    padding-top: 100px;
}

.subtitle {
    margin: 0px;
    color: #b1b1b1 !important;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase;
}

#about-me {
    border: 1px solid #fda387;
    padding: 30px;
    border-radius: 20px;
}

#about-me-container {
    margin-top: 520px;
    padding-top: 30px;
}

.contact-li, .nav-li {
    padding-left: 10px;
    font-weight: 100;
    color: rgb(202, 200, 200) !important;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif !important;
}

.contact-icon {
    color: rgb(228, 228, 228) !important;
}

#contact-title {
    color: white !important;
}

.footer {
    background-color: #2c3e50d8;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    font-weight: lighter;
    font-size: 12px;
    text-transform: uppercase;
}
hr {
    width: 7%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fda387;
    height: 1px;
    border: none;
}

.uk-offcanvas-bar {
    background-color: #2c3e50f1;
}

a:hover {
    color: #fda387 !important;
}

.portfolio-container, .skills-container {
    max-width: 1000px;
    margin-top: 200px;
    padding-bottom: 100px;
}

#portfolio-section, #skills-section {
    margin-top: 60px;
}

/* PORTFOLIO CARDS */
.pic-container {
    position: relative;
    height: 100%;
}

.project-description {
    color: gray;
}

polyline {
    fill: none;
    color: rgb(170, 170, 170);
}

.portfolio-card-footer {
    border-top: none !important;
    padding-bottom: 40px;
}

.portfolio-card-body {
    padding-bottom: 0px;
}

.project-title {
    padding-top: 15px;
}

.portfolio-btn {
    border-radius: 20px;
    border: 1px solid rgb(156, 231, 156);
    color: rgb(156, 231, 156);
    border: 1px solid #fda387;
    color: #fda387;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0px 11px 0px 11px;
    font-size: 10px;
}

.portfolio-btn:hover {
    background-color: #fda387;
    color: white;
    border: none;
}


/* SKILLS SECTION */
.skills-title, .portfolio-title {
    margin-bottom: 40px;
    margin-top: 120px;
}

.skills-icon {
    color: #fda387;
}

@media only screen and (max-width: 374px) {
    #my-name {
        font-size: 34px;
    }

    .subtitle {
        font-size: 12px;
    }

    .portfolio-card-body {
        padding: 15px;
    }

    .project-title {
        padding-top: 0px;
    }
} 

@media only screen and (min-width: 375px) {
    .portfolio-btn {
        margin-left: 12px;
        margin-right: 12px;
        padding: 0px 18px 0px 18px;
        font-size: 12px;
    }

    .subtitle {
        font-size: 14px;
    }
}

@media only screen and (min-width: 460px) {
    body, html{
        font-size: 1rem;
    }

    .portfolio-btn {
        margin-left: 5%;
        margin-right: 5%;
        padding: 0px 24px 0px 24px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 769px) {
    #about-me-container {
        margin-top: 225px;
        padding-top: 200px;
        width: 65%;
        padding-left: 35%;
    }

    #title-container {
        padding-left: 50%;
        width: 50%;
    }   
}

@media only screen and (min-width: 960px) {
    .subtitle {
        font-size: 18px;
    }
}


